<!--=include ../../blocks/layout/head.html -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<div class="wrap">
    <!--=include ../../blocks/layout/header.html -->
    <main>
        <div class="container examples-cards">
            <div class="alert alert-light" role="alert">
                <a href="https://d3js.org">d3 Library</a> — JavaScript library for manipulating documents based on data.
                <!-- https://www.dashingd3js.com/d3js-first-steps -->
            </div>

            <div class="row mt-5">
                <div class="col-sm">
                    <div class="chart-d3" id="d3-01"></div>
                </div>
                <div class="col-sm">

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm">
                    <div class="chart-d3" id="d3-map">
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!--=include ../../blocks/layout/footer.html -->
<!-- <script src="../assets/libraries/d3/settings.js"></script>	 -->
<script src="../assets/scripts/d3/map-data.js"></script>	
<script src="../assets/scripts/d3/map.js"></script>	
<script src="../assets/scripts/d3/piecharts.js"></script>	