body {
    @extend .bg-secondary;
}
.wrap {
    min-height: calc(100vh - 56px);
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height:46px;					
    padding: 10px;				
    font: 12px sans-serif;		
    background: rgb(218, 218, 218);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}