<!--=include ../blocks/layout/head.html -->
<div class="wrap">
	<!--=include ../blocks/layout/header.html -->
	<main>
		<div class="container examples-cards">
			<div class="row mt-5">
				<div class="col-sm">
					<div class="card">
						<a class="card-body" href="pages/morris.html">
							<h5 class="card-title">Simple Graphs</h5>
							<h6 class="card-subtitle mb-2 text-muted">Morris</h6>
						</a>
					</div>
				</div>
				<div class="col-sm">
					<div class="card">
						<a class="card-body" href="pages/d3.html">
							<h5 class="card-title">SVG</h5>
							<h6 class="card-subtitle mb-2 text-muted">d3</h6>
						</a>
					</div>
				</div>
				<div class="col-sm">
					<div class="card">
						<a class="card-body" href="pages/morris.html">
							<h5 class="card-title">—</h5>
							<h6 class="card-subtitle mb-2 text-muted">—</h6>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<!--=include ../blocks/layout/footer.html -->